.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
    &__img{

        display: block;
        width: 102px;
        height: 98px;
    }

    &__right{
        position: absolute;
        right: -40px;
    }
    &__left{
        position: absolute;
        left: -40px;
    }

   
}

.hero__btn{
    width: 50%;
    margin-top: 31px;
    margin-bottom: 10px;
    &__title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;
        color: #4E72CA;
        border: none;
        background-color: inherit;
        height: 30px;
        width: 213px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;

    }
    &__title1{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #9B9B9B;
        border: none;
        background-color: inherit;
        margin-left: 77px;
        height: 30px;
        width: 252px;
        border-radius: nullpx;

    }
}