.product__hero{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(151, 151, 151, 0.496575);
    border-radius: 6px;
    margin-top: 32px;
    &__input{
            width: 100%;
            padding: 16px 58px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #787993;
    }

    &__search{
        position: absolute;
        z-index: 10;
        height: 25px;
        width: 24px;
        left: 17px;
        top: 30%;
        
    }

    &__href{
        position: absolute;
        right: 680px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2979FF;
    }
}

.product__page__btn{
    margin-top: 14px;
    &__title1{
        background: #E5E3FF;
        border-radius: 3px; 
        border: inherit;
        margin-right: 13px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #704FFF;
        height: 21px;
        width: 89px;
    }
    &__title2{
        margin-right: 13px;
        height: 21px;
        border: inherit;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #57B4E2;
        background: #E4F6FF;
        border-radius: 3px;
    }

    &__title3{
        margin-right: 13px;
        height: 21px;
        border: inherit;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #47B95E;
        background: #D2FFDB;
        border-radius: 3px;
    }

    &__title4{
        margin-right: 13px;
        height: 21px;
        border: inherit;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #874C1A;
        background: #F6DAC2;
        border-radius: 3px; 
    }

    &__title5{
        margin-right: 13px;
        height: 21px;
        border: inherit;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #787993;
        background: #D8D8D8;
        border-radius: 3px;

        &___img{
            margin-left: 14px;
        }
    }
}

.product__select{
    display: flex;
    align-items: center;
    margin-top: 28px;
    &__title{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -6.7332e-05px;
        color: #787993;
        margin-bottom: 0;
        margin-right: 51px;
    }
    &__title1{
        width: 172px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -6.7332e-05px;
        color: #787993;
        margin-bottom: 0;
        margin-right: 51px;
    }

    &__mark{
        background: #FFFFFF;
        border: 1px solid rgba(151, 151, 151, 0.496575);
        border-radius: 27px;
        height: 54px;
        width: 472px;
        display: flex;
        align-items: center;
        &__img1{
            margin-left: 8px;
        }
        &__img2{
            margin-left: 92px;
        }
    }
}

.product__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    &__select{
        &__title{
            padding: 15px 19px;
            border: none;
            margin-right: 30px;
        }
    }
    &__btn{
        height: 46px;
        width: 174px;
        border-radius: 22px;
        background: #304FFF;
        box-shadow: 3px 6px 14px #9CC1FF;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        border: inherit;
    }
    margin-bottom: 29px;
}


.product__kupit{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    &__title{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #414D6A;
        margin-bottom: 0;
        margin-left: 7px;
    }
    &__img{
        height: 20px;
        width: 19px;
    }
}


.product__slide__title{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #41D481; 
        margin-top: 38px;
        margin-bottom: 18px;
}